* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

@header-height: 45px;
@theme        : #060606;
@color        : #aaaebc;
@iframe-bg    : #272727;
@edit-height  : 350px;

html {
    background-color: @theme;
}

.layout-header {
    padding         : 0 20px;
    line-height     : @header-height;
    height          : @header-height;
    background-color: @theme;
    color           : @color;

    h1 {
        font-size: 18px;
    }
}

.layout-main {
    height          : calc(100vh - @header-height);
    background-color: @theme ;
    display         : flex;
    flex-direction  : column;

    .editor-parent {
        padding: 10px 10px 0 10px;
        display: flex;
        height : @edit-height;

        .editor-item {
            display: inline-block;
            flex   : 1;
            height : 100%;

            &+.editor-item {
                margin-left: 10px;
            }

            .editor-title {
                line-height  : 36px;
                margin-bottom: -2px;

                div {
                    padding         : 0 16px;
                    display         : inline-block;
                    white-space     : nowrap;
                    font-weight     : 700;
                    font-size       : 1.1rem;
                    color           : @color;
                    background-color: #1e1e1e;
                }
            }

            .editor-container {
                height: calc(100% - 36px);
            }
        }
    }

    .resizer {
        height       : 20px;
        cursor       : row-resize;
        position     : relative;
        border-top   : solid 1px #2c2c2c;
        border-bottom: solid 1px #2c2c2c;
    }

    .output-container {
        flex: 1;

        .result-iframe {
            border          : 0;
            width           : 100%;
            height          : 100%;
            z-index         : 1;
            background-color: @iframe-bg;
        }
    }
}