* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

@header-height: 60px;
@theme        : #060606;
@color        : #aaaebc;
@iframe-bg    : #272727;
@edit-height  : 350px;

html {
    background-color: @theme;
}

body {
    &.loading {
        overflow: hidden;

        &::before {
            content            : '';
            position           : absolute;
            width              : 100vw;
            height             : 100vh;
            top                : 0;
            left               : 0;
            background-color   : #000;
            z-index            : 999;
            background-image   : url(/asset/image/logo.svg);
            background-repeat  : no-repeat;
            background-position: 50% calc(50% - 80px);
        }

        &::after {
            content                 : 'L O A D I N G';
            position                : absolute;
            z-index                 : 1000;
            top                     : 50%;
            left                    : 50%;
            transform               : translate(-50%, -50%);
            padding                 : 12px 48px;
            color                   : #fff;
            background              : linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
            background-position     : 0;
            background-clip         : text;
            -webkit-background-clip : text;
            -webkit-text-fill-color : transparent;
            animation               : shine 2s infinite linear;
            animation-fill-mode     : forwards;
            -webkit-text-size-adjust: none;
            font-weight             : 600;
            font-size               : 30px;
            text-decoration         : none;
            white-space             : nowrap;

        }

        @keyframes shine {
            0% {
                background-position: 0;
            }

            60% {
                background-position: 280px;
            }

            100% {
                background-position: 280px;
            }
        }
    }
}

.layout-header {
    padding         : 0 10px;
    line-height     : @header-height;
    height          : @header-height;
    background-color: @theme;
    color           : @color;
    display         : flex;

    .layout-header-center {
        flex      : 1;
        text-align: center;
    }

    h1 {
        font-size: 18px;
    }

    button {
        display        : inline-flex;
        align-items    : center;
        vertical-align : middle;
        text-shadow    : none;
        line-height    : 1.2;
        white-space    : nowrap;
        text-overflow  : ellipsis;
        text-decoration: none;
        font-weight    : 400;
        cursor         : pointer;
        background     : #585d70;
        color          : #fff;
        padding        : 10px 16px;
        border         : 1px solid transparent;
        border-radius  : 5px;
    }
}

.layout-main {
    height          : calc(100vh - @header-height);
    background-color: @theme ;
    display         : flex;
    flex-direction  : column;

    .editor-container {
        padding: 0 10px;
        display: flex;
        height : @edit-height;

        .editor-item {
            display: inline-block;
            flex   : 1;
            height : 100%;

            &+.editor-item {
                margin-left: 10px;
            }

            .editor-title {
                padding         : 0 16px;
                line-height     : 36px;
                white-space     : nowrap;
                font-weight     : 700;
                font-size       : 1.1rem;
                color           : @color;
                background-color: #1e1e1e;
            }

            .code-editor {
                height: calc(100% - 36px);
            }
        }
    }

    .resizer {
        height       : 20px;
        cursor       : row-resize;
        position     : relative;
        border-top   : solid 1px #2c2c2c;
        border-bottom: solid 1px #2c2c2c;
    }

    .output-container {
        flex     : 1;
        font-size: 0;

        .result-iframe {
            z-index         : 1;
            background-color: @iframe-bg;
        }
    }
}