<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="x5-fullscreen" content="true">
<meta name="full-screen" content="yes">
<meta name="keywords" content="<%= !!page.keywords ? page.keywords : config.site.keywords %>">
<meta name="description" content="<%= !!page.description ? page.description : config.site.description %>">
<title>
    <%= (!!page.title ? page.title : config.site.title) %>
</title>